.texto-claro {
    color: whitesmoke;
}

.div-populares, .div-novedades {
    width: 100%;

    display: none;
}

.card {
    height: 300px;
    background-color: #55555f;
    font-size: 1.2em;
    margin-left: 50px;
    margin-right: 50px;
}

.card-body h3 {
    color: #111;
    font-weight: 700;
}

#listaDeJuegos {
    width: 100%;
    margin: 0;
    padding: 0;
    
}

#listaDeJuegos div button {
    width: 45px;
    height: 45px;
}


@media only screen and (min-width: 760px) {
    #carousel-1, #carousel-2 {
        width: 60vw;
        margin: auto;
    }
    .card {
        aspect-ratio: 4/3;
        margin-left: 70px;
        margin-right: 70px;
        font-size: .80em;
    }
    .card-body h3 {
        font-size: 1.5em;
    }
    #listaDeJuegos {
        width: 75%;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .div-populares, .div-novedades {
        display: flex;
        gap: 20px;
    }
    #carousel-1, #carousel-2 {
        display: none;
    }
    .card {
        margin: 0;
        height: 330px;
        width: 250px;
        font-size: 1.15em;
    }
    .card-body h3 {
        font-size: 1.3em;
        font-weight: 700;
    }
}